@model IEnumerable<EducationalWebsite.Models.SubjectDetail>
@{
    ViewBag.Title = "SubjectDetail";
    Layout = "~/Views/Shared/_Admin_layout.cshtml";
}
@Styles.Render("~/bundles/LibDepartmentcss")
<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>All Departments </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="material-icons">more_vert</i> </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>SubjectId</th>
                                    <th>Subject</th>
                                    <th>Class</th>
                                    <th>Subject Incharge</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sub in Model)
                                {
                                    <tr>
                                        <td>@sub.Id</td>
                                        <td>@sub.Subject.SubjectName</td>
                                        <td>@sub.Class.Name</td>
                                        <td>@sub.Teacher.FirstName @sub.Teacher.LastName</td>
                                        <td>@Html.ActionLink("Edit", "EditSubjectDetail", "Subject", new { id = sub.Id }, new { @class = "btn btn-primary" })</td>
                                        <td>@Html.ActionLink("Remove", "RemoveSubjectDetail", "Subject", new { id = sub.Id }, new { @class = "btn btn-primary" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>
@Scripts.Render("~/bundles/LibDepartmentjs")






